---
const { ft_header } = Astro.props;
const { ft_tab1_label } = Astro.props;
const { ft_tab2_label } = Astro.props;
const { ft_tab3_label } = Astro.props;

const { ft_tab1_item1_header } = Astro.props
const { ft_tab1_item1_content } = Astro.props
const { ft_tab1_item2_header } = Astro.props
const { ft_tab1_item2_content } = Astro.props
const { ft_tab1_media } = Astro.props

const { ft_tab2_item1_header } = Astro.props
const { ft_tab2_item1_content } = Astro.props
const { ft_tab2_item2_header } = Astro.props
const { ft_tab2_item2_content } = Astro.props
const { ft_tab2_media } = Astro.props

const { ft_tab3_item1_header } = Astro.props
const { ft_tab3_item1_content } = Astro.props
const { ft_tab3_item2_header } = Astro.props
const { ft_tab3_item2_content } = Astro.props
const { ft_tab3_media } = Astro.props

---

<section 
  style="background-color: #161616"
  id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div>
      <div 
        class="mx-auto max-w-2xl text-center">
        <div>
          <p
            class="dark12 font-extrabold lg:text-5xl text-4xl tracking-tighter">
            {ft_header}
            </span>
          </p>
        </div>
      </div>

      <div id="tabs-section"
      class="pt-24">
        <div class="tab-buttons rounded-xl">
          <button class="tab-button rounded-xl active dark11" data-tab="tab1">{ft_tab1_label}</button>
          <button class="tab-button rounded-xl dark11" data-tab="tab2">{ft_tab2_label}</button>
          <button class="tab-button rounded-xl dark11" data-tab="tab3">{ft_tab3_label}</button>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
              <div class="mx-auto pb-12">
                <div
                  class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-2">
                  <div>
                    <div class="gap-3 lg:inline-flex lg:h-10">
                      <p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        {ft_tab1_item1_header}
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      {ft_tab1_item1_content}
                    </p>
                  </div><div>
                    <div class="gap-3 lg:inline-flex lg:h-10"><p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        {ft_tab1_item2_header}
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      {ft_tab1_item2_content}
                    </p>
                  </div>
                </div>
              </div>
              <img
                  alt=""
                  style="border-color: var(--gray-dark-a6); border-width: 1px;"
                  class="relative w-full lg:rounded-2xl object-cover rounded shadow-2xl"
                  src={ft_tab1_media}
                />
                
            </div>      
          </div>
          <div class="tab-pane" id="tab2">
            <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
              <div class="mx-auto pb-12">
                <div
                  class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-2">
                  <div>
                    <div class="gap-3 lg:inline-flex lg:h-10">
                      <p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        {ft_tab2_item1_header}
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      {ft_tab2_item1_content}
                    </p>
                  </div><div>
                    <div class="gap-3 lg:inline-flex lg:h-10"><p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        {ft_tab2_item2_header}
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      {ft_tab2_item2_content}
                    </p>
                  </div>
                </div>
              </div>
              <img
                  alt=""
                  style="border-color: var(--gray-dark-a6); border-width: 1px;"
                  class="relative w-full lg:rounded-2xl object-cover rounded shadow-2xl"
                  src={ft_tab2_media}
                />
                
            </div>       
          </div>
          <div class="tab-pane" id="tab3">
            <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
              <div class="mx-auto pb-12">
                <div
                  class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-2">
                  <div>
                    <div class="gap-3 lg:inline-flex lg:h-10">
                      <p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        {ft_tab3_item1_header}
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      {ft_tab3_item1_content}
                    </p>
                  </div><div>
                    <div class="gap-3 lg:inline-flex lg:h-10"><p
                        class="dark12 mt-4 text-lg font-semibold leading-6 font-display lg:mt-0">
                        {ft_tab3_item2_header}
                      </p>
                    </div><p class="dark11 text-sm mt-4">
                      {ft_tab3_item2_content}
                    </p>
                  </div>
                </div>
              </div>
              <img
                  alt=""
                  style="border-color: var(--gray-dark-a6); border-width: 1px;"
                  class="relative w-full lg:rounded-2xl object-cover rounded shadow-2xl"
                  src={ft_tab3_media}
                />
                
            </div>       
          </div>
        </div>
      </div>
      

    </div>
  </div>
</section>