---
const { ov_audience } = Astro.props;
const { ov_header } = Astro.props;
const { ov_subheader } = Astro.props;
const { ov_item1_header } = Astro.props;
const { ov_item1_content } = Astro.props;
const { ov_item2_header } = Astro.props;
const { ov_item2_content } = Astro.props;
const { ov_item3_header } = Astro.props;
const { ov_item3_content } = Astro.props;
const { ov_item4_header } = Astro.props;
const { ov_item4_content } = Astro.props;
const { ov_item5_header } = Astro.props;
const { ov_item5_content } = Astro.props;
const { ov_item6_header } = Astro.props;
const { ov_item6_content } = Astro.props;
const { ov_item1_icon } = Astro.props;
const { ov_item2_icon } = Astro.props;
const { ov_item3_icon } = Astro.props;
const { ov_item4_icon } = Astro.props;
const { ov_item5_icon } = Astro.props;
const { ov_item6_icon } = Astro.props;


---

<section id="overview">
  <div
    class="lg:mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="lg:mx-auto max-w-3xl lg:text-center">
      <div>
        <p
          class="light12 font-extrabold lg:text-7xl text-6xl tracking-tighter">
          {ov_audience}
        </p>
        <p
          class="light12 font-extrabold lg:text-5xl text-4xl tracking-tighter max-w-2xl">
          {ov_header}
        </p><p
          class="mt-4 text-lg max-w-xl tracking-tight text-light-11 mx-auto">
          {ov_subheader}
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="lg:mx-auto w-full max-w-xl lg:max-w-7xl gap-12 grid grid-cols-1 lg:gap-24 lg:text-center lg:grid-cols-3">
        <div>
          <div>
            <div
              class="items-center justify-center text-black bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-4 w-4"
                name={ov_item1_icon}
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
              {ov_item1_header}
            </p>
          </div>
          <div class="mt-4 text-gray-500 text-sm" set:html={ov_item1_content}></div>
        </div>
        <div>
          <div>
            <div
              class="items-center justify-center text-black bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-4 w-4"
                name={ov_item2_icon}
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
              {ov_item2_header}
            </p>
          </div>
          <div class="mt-4 text-gray-500 text-sm" set:html={ov_item2_content}></div>
        </div>
        <div>
          <div>
            <div
              class="items-center justify-center text-black bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-4 w-4"
                name={ov_item3_icon}
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
              {ov_item3_header}
            </p>
          </div>
          <div class="mt-4 text-gray-500 text-sm" set:html={ov_item3_content}></div>
        </div>
        <div>
          <div>
            <div
              class="items-center justify-center text-black bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-4 w-4"
                name={ov_item4_icon}
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
              {ov_item4_header}
            </p>
          </div>
          <div class="mt-4 text-gray-500 text-sm" set:html={ov_item4_content}></div>
        </div>
        <div>
          <div>
            <div
              class="items-center justify-center text-black bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-4 w-4"
                name={ov_item5_icon}
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
              {ov_item5_header}
            </p>
          </div>
          <div class="mt-4 text-gray-500 text-sm" set:html={ov_item5_content}></div>
        </div>
        <div>
          <div>
            <div
              class="items-center justify-center text-black bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
              <ion-icon
                aria-label="scan outline"
                class="hydrated md h-4 w-4"
                name={ov_item6_icon}
                role="img"
              />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
              {ov_item6_header}
            </p>
          </div>
          <div class="mt-4 text-gray-500 text-sm" set:html={ov_item6_content}></div>
        </div>
      </div>
    </div>
  </div>
</section>

