---
const { ov_header } = Astro.props;
const { ov_subheader } = Astro.props;
const { ov_item1_header } = Astro.props;
const { ov_item1_content } = Astro.props;
const { ov_item2_header } = Astro.props;
const { ov_item2_content } = Astro.props;
const { ov_item3_header } = Astro.props;
const { ov_item3_content } = Astro.props;
const { ov_item4_header } = Astro.props;
const { ov_item4_content } = Astro.props;
const { ov_item5_header } = Astro.props;
const { ov_item5_content } = Astro.props;
const { ov_item6_header } = Astro.props;
const { ov_item6_content } = Astro.props;

---

<section id="overview">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <p
          class="text-dark-12 font-extrabold lg:text-5xl text-4xl tracking-tighter">
          {ov_header}
        </p><p
          class="mt-4 text-lg max-w-xl tracking-tight text-dark-11 mx-auto">
          {ov_subheader}
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-16 lg:grid-cols-4">
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <!--<div
              class="items-center justify-center bg-gray-100 rounded-xl flex h-12 w-16">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.907 1.81127C12.6559 1.66293 12.344 1.66293 12.093 1.81127L3.29298 7.01127C3.04941 7.1552 2.89997 7.41709 2.89997 7.70001C2.89997 7.98294 3.04941 8.24482 3.29298 8.38875L12.093 13.5888C12.344 13.7371 12.6559 13.7371 12.907 13.5888L21.707 8.38875C21.9505 8.24482 22.1 7.98294 22.1 7.70001C22.1 7.41709 21.9505 7.1552 21.707 7.01127L12.907 1.81127ZM12.5 11.9708L5.27251 7.70001L12.5 3.42924L19.7274 7.70001L12.5 11.9708ZM3.01123 12.493C3.236 12.1126 3.72657 11.9865 4.10695 12.2113L12.5 17.1708L20.893 12.2113C21.2734 11.9865 21.7639 12.1126 21.9887 12.493C22.2135 12.8734 22.0873 13.364 21.707 13.5888L12.907 18.7888C12.6559 18.9371 12.344 18.9371 12.093 18.7888L3.29298 13.5888C2.9126 13.364 2.78646 12.8734 3.01123 12.493ZM3.01123 17.293C3.236 16.9126 3.72657 16.7865 4.10695 17.0113L12.5 21.9708L20.893 17.0113C21.2734 16.7865 21.7639 16.9126 21.9887 17.293C22.2135 17.6734 22.0873 18.164 21.707 18.3888L12.907 23.5888C12.6559 23.7371 12.344 23.7371 12.093 23.5888L3.29298 18.3888C2.9126 18.164 2.78646 17.6734 3.01123 17.293Z" fill="#3E63DD"/>
              </svg>
            </div>-->
            <p
              class="mt-4 text-lg font-semibold leading-6 text-dark-12 font-display lg:mt-0">
              {ov_item1_header}
            </p>
          </div><p class="text-dark-11 text-sm mt-4">
            {ov_item1_content}
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <!--<div
              class="items-center justify-center bg-gray-100 rounded-xl flex h-12 w-16">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.907 1.81127C12.6559 1.66293 12.344 1.66293 12.093 1.81127L3.29298 7.01127C3.04941 7.1552 2.89997 7.41709 2.89997 7.70001C2.89997 7.98294 3.04941 8.24482 3.29298 8.38875L12.093 13.5888C12.344 13.7371 12.6559 13.7371 12.907 13.5888L21.707 8.38875C21.9505 8.24482 22.1 7.98294 22.1 7.70001C22.1 7.41709 21.9505 7.1552 21.707 7.01127L12.907 1.81127ZM12.5 11.9708L5.27251 7.70001L12.5 3.42924L19.7274 7.70001L12.5 11.9708ZM3.01123 12.493C3.236 12.1126 3.72657 11.9865 4.10695 12.2113L12.5 17.1708L20.893 12.2113C21.2734 11.9865 21.7639 12.1126 21.9887 12.493C22.2135 12.8734 22.0873 13.364 21.707 13.5888L12.907 18.7888C12.6559 18.9371 12.344 18.9371 12.093 18.7888L3.29298 13.5888C2.9126 13.364 2.78646 12.8734 3.01123 12.493ZM3.01123 17.293C3.236 16.9126 3.72657 16.7865 4.10695 17.0113L12.5 21.9708L20.893 17.0113C21.2734 16.7865 21.7639 16.9126 21.9887 17.293C22.2135 17.6734 22.0873 18.164 21.707 18.3888L12.907 23.5888C12.6559 23.7371 12.344 23.7371 12.093 23.5888L3.29298 18.3888C2.9126 18.164 2.78646 17.6734 3.01123 17.293Z" fill="#3E63DD"/>
              </svg>
            </div>-->
            <p
              class="mt-4 text-lg font-semibold leading-6 text-dark-12 font-display lg:mt-0">
              {ov_item2_header}
            </p>
          </div><p class="text-dark-11 text-sm mt-4">
            {ov_item2_content}
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <!--<div
              class="items-center justify-center bg-gray-100 rounded-xl flex h-12 w-16">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.907 1.81127C12.6559 1.66293 12.344 1.66293 12.093 1.81127L3.29298 7.01127C3.04941 7.1552 2.89997 7.41709 2.89997 7.70001C2.89997 7.98294 3.04941 8.24482 3.29298 8.38875L12.093 13.5888C12.344 13.7371 12.6559 13.7371 12.907 13.5888L21.707 8.38875C21.9505 8.24482 22.1 7.98294 22.1 7.70001C22.1 7.41709 21.9505 7.1552 21.707 7.01127L12.907 1.81127ZM12.5 11.9708L5.27251 7.70001L12.5 3.42924L19.7274 7.70001L12.5 11.9708ZM3.01123 12.493C3.236 12.1126 3.72657 11.9865 4.10695 12.2113L12.5 17.1708L20.893 12.2113C21.2734 11.9865 21.7639 12.1126 21.9887 12.493C22.2135 12.8734 22.0873 13.364 21.707 13.5888L12.907 18.7888C12.6559 18.9371 12.344 18.9371 12.093 18.7888L3.29298 13.5888C2.9126 13.364 2.78646 12.8734 3.01123 12.493ZM3.01123 17.293C3.236 16.9126 3.72657 16.7865 4.10695 17.0113L12.5 21.9708L20.893 17.0113C21.2734 16.7865 21.7639 16.9126 21.9887 17.293C22.2135 17.6734 22.0873 18.164 21.707 18.3888L12.907 23.5888C12.6559 23.7371 12.344 23.7371 12.093 23.5888L3.29298 18.3888C2.9126 18.164 2.78646 17.6734 3.01123 17.293Z" fill="#3E63DD"/>
              </svg>
            </div>-->
            <p
              class="mt-4 text-lg font-semibold leading-6 text-dark-12 font-display lg:mt-0">
              {ov_item3_header}
            </p>
          </div><p class="text-dark-11 text-sm mt-4">
            {ov_item3_content}
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <!--<div
              class="items-center justify-center bg-gray-100 rounded-xl flex h-12 w-16">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.907 1.81127C12.6559 1.66293 12.344 1.66293 12.093 1.81127L3.29298 7.01127C3.04941 7.1552 2.89997 7.41709 2.89997 7.70001C2.89997 7.98294 3.04941 8.24482 3.29298 8.38875L12.093 13.5888C12.344 13.7371 12.6559 13.7371 12.907 13.5888L21.707 8.38875C21.9505 8.24482 22.1 7.98294 22.1 7.70001C22.1 7.41709 21.9505 7.1552 21.707 7.01127L12.907 1.81127ZM12.5 11.9708L5.27251 7.70001L12.5 3.42924L19.7274 7.70001L12.5 11.9708ZM3.01123 12.493C3.236 12.1126 3.72657 11.9865 4.10695 12.2113L12.5 17.1708L20.893 12.2113C21.2734 11.9865 21.7639 12.1126 21.9887 12.493C22.2135 12.8734 22.0873 13.364 21.707 13.5888L12.907 18.7888C12.6559 18.9371 12.344 18.9371 12.093 18.7888L3.29298 13.5888C2.9126 13.364 2.78646 12.8734 3.01123 12.493ZM3.01123 17.293C3.236 16.9126 3.72657 16.7865 4.10695 17.0113L12.5 21.9708L20.893 17.0113C21.2734 16.7865 21.7639 16.9126 21.9887 17.293C22.2135 17.6734 22.0873 18.164 21.707 18.3888L12.907 23.5888C12.6559 23.7371 12.344 23.7371 12.093 23.5888L3.29298 18.3888C2.9126 18.164 2.78646 17.6734 3.01123 17.293Z" fill="#3E63DD"/>
              </svg>
            </div>-->
            <p
              class="mt-4 text-lg font-semibold leading-6 text-dark-12 font-display lg:mt-0">
              {ov_item4_header}
            </p>
          </div><p class="text-dark-11 text-sm mt-4">
            {ov_item4_content}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
