---

// INPUT CONTENT FOR HERO SECTION HERE

const title = "DeSci Nodes"
const slogan = "Protecting institutional sovereignty during the next era of science"



// INPUT CONTENT FOR OVERVIEW SECTION HERE

const ov_header = "Research data management made easy"

// Overview Items

const ov_item1_header = "Own your data, share it seamlessly"
const ov_item1_content = "DeSci Labs uses decentralized technology to seamlessly connect researchers, publishers, and libraries. Through Nodes, publishers can disseminate your data without ever taking it off your server."
const ov_item1_icon = "layers-outline"

const ov_item2_header = "Use PID containers to organize PID collections"
const ov_item2_content = "Simplify the way you manage research data by grouping related PIDs into intuitive collections. Anyone can make a PID container."
const ov_item2_icon = "code-slash-outline"

const ov_item3_header = "Make metadata easy for your researchers"
const ov_item3_content = "Created by researchers for researchers, these controlled vocabularies and ontologies are an important part of making data findable, accessible, interoperable, and reusable (FAIR)."
const ov_item3_icon = "arrow-redo-outline"

const ov_item4_header = "Get ahead of the compliance curve"
const ov_item4_content = `The <a href="https://doi.org/10.1371/journal.pone.0230416" class="text-dark-11 font-semibold hover:text-dark-12" target="_blank" rel="noopener noreferrer">FAIR principles</a> and research software management are coming. Make sure your institution is prepared to meet all funder requirements. We can help you to stay ahead in the fast-evolving landscape of data management and open science mandates.`
const ov_item4_icon = "key-outline"

const ov_item5_header = "Help your researchers improve their impact"
const ov_item5_content = `Manuscripts with data receive on average <a href="https://doi.org/10.1371/journal.pone.0230416" class="text-dark-11 font-semibold hover:text-dark-12" target="_blank" rel="noopener noreferrer">25% more citations.</a> By making data sharing easy, you increase the impact of your researchers and your institution.`
const ov_item5_icon = "play-forward-outline"

const ov_item6_header = "Accelerate open science"
const ov_item6_content = "Join the vanguard of the open science movement. By leveraging our fully open-source technologies, you contribute to a culture of transparency, accessibility, and collaboration in the scientific community, fostering innovation and trust."
const ov_item6_icon = "lock-open-outline"


// INPUT CONTENT FOR SHORTER OVERVIEW SECTION HERE

const ov3_audience = ""
const ov3_header = "Truly persistent identifiers with super-powers for all your content"
const ov3_subheader = ""

// Overview Items

const ov3_item1_header = "Automatically generate a PID for every file you upload"
const ov3_item1_content = "Every file needs a PID, you can simplify PID provisioning through a simple drag-and-drop process. DeSci Labs Technology takes a fingerprint of every file the moment it’s uploaded. These data fingerprints are based on the content in the file, making them completely immune to content drift. You can rest easy knowing that your data is safe on your servers."
const ov3_item1_icon = "tablet-landscape-outline"

const ov3_item2_header = "Control who has access to data, both internally and externally"
const ov3_item2_content = "While open data should be the standard, IP and privacy restrictions need to be taken into account. Through DeSci Nodes technology, you can make identity and access management easy. The RDM interface integrates with Microsoft for internal employees and ORCID for external collaborators."
const ov3_item2_icon = "globe-outline"

const ov3_item3_header = "Keep track of your data across publications, labs, and departments"
const ov3_item3_content = "By using PID Containers to organize your data, you get the flexibility to track data usage at all levels of research. Gain visibility into the complete lifecycle of your research data, from generation to publication. Setting up your researchers is as easy as a download and a training course, we'll be here to help you along the way."
const ov3_item3_icon = "pin-outline"


// INPUT CONTENT FOR FEATURES SECTION HERE (currently not being used!)

const ft_header = "Transparency can be a problem of the past"

// First Tab

const ft_tab1_label = "Store"
const ft_tab1_item1_header = "Automatically generate a PID for every file you upload"
const ft_tab1_item1_content = "Every file needs a PID, you can simplify PID provisioning through a simple drag-and-drop process. DeSci Labs Technology takes a fingerprint of every file the moment it’s uploaded. These data fingerprints are based on the content in the file, making them completely immune to content drift. You can rest easy knowing that your data is safe on your servers."
const ft_tab1_item2_header = ""
const ft_tab1_item2_content = ""
const ft_tab1_media = "showcase.mp4"
const ft_tab1_media_phone = "drive-phone.png"

// Second Tab

const ft_tab2_label = "Manage"
const ft_tab2_item1_header = "Control who has access to data, both internally and externally"
const ft_tab2_item1_content = "While open data should be the standard, IP and privacy restrictions need to be taken into account. Through DeSci Nodes technology, you can make identity and access management easy. The RDM interface integrates with Microsoft for internal employees and ORCID for external collaborators."
const ft_tab2_item2_header = ""
const ft_tab2_item2_content = ""
const ft_tab2_media = "test-video.mp4"
const ft_tab2_media_phone = "drive-phone.png"

// Third Tab

const ft_tab3_label = "Track"
const ft_tab3_item1_header = "Keep track of your data across publications, labs, and departments"
const ft_tab3_item1_content = "By using PID Containers to organize your data, you get the flexibility to track data usage at all levels of research. Gain visibility into the complete lifecycle of your research data, from generation to publication. Setting up your researchers is as easy as a download and a training course, we'll be here to help you along the way."
const ft_tab3_item2_header = ""
const ft_tab3_item2_content = ""
const ft_tab3_media = "test-video.mp4"
const ft_tab3_media_phone = "drive-phone.png"






// INPUT SECTION END










import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/landing/HeroInstitutions.astro";
import Overview from "../components/landing/Overview6.astro";
import Overview3 from "../components/landing/Overview3.astro";
import Features from "../components/landing/Features.astro";
import Testimonial from "../components/global/Testimonial.astro";
import Cta from "../components/global/Cta.astro";
import Footer from "../components/global/Footer.astro";
import { AstroSeo } from "@astrolib/seo";





---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="DeSci Labs"
  description="DeSci enables researchers and academic organizations to securely share and collaborate using decentralized science technology."
  canonical="https://www.desci.com"
  openGraph={{
    url: "https://www.desci.com",
    title: "DeSci Labs",
    description: "Building the future of science",
    images: [
      {
        url: "preview.png",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/png",
      },
    ],
    site_name: "DeSci Nodes for Researchers",
  }}
  twitter={{
    handle: "@DeSciLabs",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>

<BaseLayout>
  <script>

    setTimeout(() => {

      const tabButtons = document.querySelectorAll('.tab-button');
      const tabPanes = document.querySelectorAll('.tab-pane');
      
      tabButtons.forEach(button => {
        button.addEventListener('click', function() {
          tabButtons.forEach(btn => btn.classList.remove('active'));
          this.classList.add('active');
          
          tabPanes.forEach(pane => pane.classList.remove('active'));
          const selectedTab = document.getElementById(this.getAttribute('data-tab'));
          selectedTab.classList.add('active');
        });
      });
    }, 0);
  </script>
  <Hero 
    slogan={slogan} 
    title={title} />
  <Overview 
    ov_header={ov_header} 
    ov_item1_header={ov_item1_header}
    ov_item1_content={ov_item1_content}
    ov_item2_header={ov_item2_header}
    ov_item2_content={ov_item2_content}
    ov_item3_header={ov_item3_header}
    ov_item3_content={ov_item3_content}
    ov_item4_header={ov_item4_header}
    ov_item4_content={ov_item4_content}
    ov_item5_header={ov_item5_header}
    ov_item5_content={ov_item5_content}
    ov_item6_header={ov_item6_header}
    ov_item6_content={ov_item6_content}
    ov_item1_icon={ov_item1_icon}
    ov_item2_icon={ov_item2_icon}
    ov_item3_icon={ov_item3_icon}
    ov_item4_icon={ov_item4_icon}
    ov_item5_icon={ov_item5_icon}
    ov_item6_icon={ov_item6_icon}/>
  <Overview3 
    ov_header={ov3_header} 
    ov_item1_header={ov3_item1_header}
    ov_item1_content={ov3_item1_content}
    ov_item2_header={ov3_item2_header}
    ov_item2_content={ov3_item2_content}
    ov_item3_header={ov3_item3_header}
    ov_item3_content={ov3_item3_content} />
  <Cta />
  <Footer />
</BaseLayout>
