---

// INPUT CONTENT FOR HERO SECTION HERE

const title = "Autonomous Research Communities"
const slogan = "Power your journal with the open science infrastructure of tomorrow"




// INPUT CONTENT FOR LONGER OVERVIEW SECTION HERE

const ov_audience = ""
const ov_header = "Scale your impact, not your IT"
const ov_subheader = ""

// Overview Items

const ov_item1_header = "Everything in one place"
const ov_item1_content = `Researchers can publish data, code, and any other artefacts alongside their manuscripts and submit to your journal. No complicated flowcharts or juggling between Github and repositories. Papers with data receive on average <a href="https://doi.org/10.1371/journal.pone.0230416" class="text-dark-11 font-semibold hover:text-dark-12" target="_blank" rel="noopener noreferrer">25% more citations</a>.`
const ov_item1_icon = "add-outline"

const ov_item2_header = "Qualified referees at your fingertips"
const ov_item2_content = "Save time by quickly finding qualified referees to assess a work's merits with our bespoke recommendation system. The recommendation system is under development and not yet publicly available."
const ov_item2_icon = "shield-outline"

const ov_item3_header = "Fast track peer-review"
const ov_item3_content = "Peer-review and editorial exchanges happen directly within the interface, in context of the submitted materials. Benefit from new possibilities to incentivize high-quality peer-review, giving credit where it's due."
const ov_item3_icon = "cloud-download-outline"

const ov_item4_header = "Focus on what matters"
const ov_item4_content = "While you're free to do typesetting, graphic design and JATS-XML data wrangling - you don't need to. You can run lightweight journals that keep costs down and deliver on what matters: trust in research results."
const ov_item4_icon = "refresh-outline"

const ov_item5_header = "Reach new communities"
const ov_item5_content = "Reach communities that care deeply about access to data and software. With Nodes, digital artifacts can be imported and reused with a single line of code, tracking all citations."
const ov_item5_icon = "analytics-outline"

const ov_item6_header = "Unlock new opportunities"
const ov_item6_content = "Issue verified badges that attest to the properties of the research you curate. Make the value of your services visible. Offer new services such as reproducibility checks."
const ov_item6_icon = "play-forward-outline"


// INPUT CONTENT FOR SHORTER OVERVIEW SECTION HERE

const ov3_audience = ""
const ov3_header = ""
const ov3_subheader = "Integrate the DeSci stack"

// Overview Items

const ov3_item1_header = "Your website, made simple"
const ov3_item1_content = "Embed an interface on your website that allows your audience to interact with all artifacts of research, not just manuscripts."
const ov3_item1_icon = "tablet-landscape-outline"

const ov3_item2_header = "Storage, taken care of"
const ov3_item2_content = "The data is securely stored on a distributed network, protected from content drift, and resilient against link rot."
const ov3_item2_icon = "globe-outline"

const ov3_item3_header = "PIDs and Metadata, solved"
const ov3_item3_content = "No more URI:DOI tables to maintain or complex metadata standards to comply with. This is taken care of."
const ov3_item3_icon = "pin-outline"


// INPUT CONTENT FOR FEATURES SECTION HERE

const ft_header = "It's never been this easy to launch a new journal"

// First Tab

const ft_tab1_label = "Submit"
const ft_tab1_item1_header = "A better submission experience for your authors, finally"
const ft_tab1_item1_content = "Authors can easily upload data, code, manuscripts, and any artefacts of their research in a unified interface served directly on your website. No more submission flowcharts, or juggling between GitHub, data repositories, and external sources, leading to a far better experience for your authors. Once ready, authors can publish their work openly and submit directly to your journal or conference with a single click."
const ft_tab1_item2_header = ""
const ft_tab1_item2_content = ""
const ft_tab1_media = "submit flow.mp4"
const ft_tab1_media_phone = "combine.png"

// Second Tab

const ft_tab2_label = "Review"
const ft_tab2_item1_header = "Improve and accelerate peer-review"
const ft_tab2_item1_content = "Experience granular multiplayer reviewing in context. Create interactive peer-review reports that extend beyond the manuscript. Decide which aspects reviewers should be focusing on. Explore new workflows for scientific validaiton. The system is designed to fast-track peer-reviews, eliminate cumbersome email exchanges, and give credit to every participant in the curation process."
const ft_tab2_item2_header = ""
const ft_tab2_item2_content = ""
const ft_tab2_media = "verify.mp4"
const ft_tab2_media_phone = "review.png"

// Third Tab

const ft_tab3_label = "Curate"
const ft_tab3_item1_header = "Curate research for quality"
const ft_tab3_item1_content = "Editors issue badges that attest to the attributed your curated research: open code, open data, computational reproducibility, peer-reviewed, editor's choice - you name it. With Nodes, you can open the black box of peer-review by making explicit the type of curation services that your scientific community values."
const ft_tab3_item2_header = ""
const ft_tab3_item2_content = ""
const ft_tab3_media = "curate.mp4"
const ft_tab3_media_phone = "reproducible.png"



// INPUT CONTENT FOR TESTIMONIALS HERE

const tm_header = "Trusted by researchers"

const tm_item1_name = "Marco Giometto & Atharva Sate"
const tm_item1_position = "Civil Engineering at Columbia"
const tm_item1_content = "Atharva and Marco created a fully reproducible, data heavy publication containing over 18 terabytes of open data. Without Nodes, this breakthrough dataset in fluid dynamics would have remained in his lab's internal servers. Nodes made it possible to easily import parts of this dataset with a single line of python, or send a containerised compute job directly where the data lives."
const tm_item1_image = "marco-pfp.jpg"
const tm_item1_link = "https://capybara.desci.com/dpid/76"

// const tm_item2_name = "Alkes Price"
// const tm_item2_position = "Geneticist at Harvard"
// const tm_item2_content = "Alkes and his lab were sharing terabytes of genetic data with their community. The popularity of the dataset caused egress bills to skyrocket, limiting their ability to share it for free. This data is now available to anyone via Nodes, enabling edge compute without egress fees. Other scientists can now re-use this data without the need to move it around the globe."
// const tm_item2_image = "alkes-pfp.jpeg"
// const tm_item2_link = "https://capybara.desci.com/dpid/75"

const tm_item3_name = "Megan Ansdell"
const tm_item3_position = "Astrophysicist at NASA"
const tm_item3_content = "Megan turned her PhD thesis into a Node primarily to share her code with the astrophysics community. During her thesis, she took a lot of care to make her work reproducible. With Nodes she finally has a medium to showcase this effort and share the outcome with everyone. Nodes allowed her to create interactive links between her paper, data, and code."
const tm_item3_image = "megan-pfp.jpeg"
const tm_item3_link = "https://capybara.desci.com/dpid/46"




// INPUT SECTION END












import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/landing/HeroJournals.astro";
import Overview6 from "../components/landing/Overview6.astro";
import Overview3 from "../components/landing/Overview3.astro";
import Features from "../components/landing/FeaturesJournals.astro";
import Testimonial from "../components/global/Testimonial.astro";
import Cta from "../components/global/Cta.astro";
import Footer from "../components/global/Footer.astro";
import { AstroSeo } from "@astrolib/seo";





---

<AstroSeo
  title="DeSci Labs"
  description="DeSci enables researchers and academic organizations to securely share and collaborate using decentralized science technology."
  canonical="https://www.desci.com"
  openGraph={{
    url: "https://www.desci.com",
    title: "DeSci Labs",
    description: "Building the future of science",
    images: [
      {
        url: "preview.png",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/png",
      },
    ],
    site_name: "DeSci Nodes for Journals",
  }}
  twitter={{
    handle: "@DeSciLabs",
    site: "@site",
    cardType: "summary_large_image",
  }}></AstroSeo>

<BaseLayout>
  <script>

    setTimeout(() => {

      const tabButtons = document.querySelectorAll('.tab-button');
      const tabPanes = document.querySelectorAll('.tab-pane');
      
      tabButtons.forEach(button => {
        button.addEventListener('click', function() {
          tabButtons.forEach(btn => btn.classList.remove('active'));
          this.classList.add('active');
          
          tabPanes.forEach(pane => pane.classList.remove('active'));
          const selectedTab = document.getElementById(this.getAttribute('data-tab'));
          selectedTab.classList.add('active');
        });
      });
    }, 0);
  </script>
  <Hero 
    slogan={slogan} 
    title={title} />
  <Overview6 
    ov_audience={ov_audience} 
    ov_header={ov_header} 
    ov_subheader={ov_subheader}
    ov_item1_header={ov_item1_header}
    ov_item1_content={ov_item1_content}
    ov_item2_header={ov_item2_header}
    ov_item2_content={ov_item2_content}
    ov_item3_header={ov_item3_header}
    ov_item3_content={ov_item3_content}
    ov_item4_header={ov_item4_header}
    ov_item4_content={ov_item4_content}
    ov_item5_header={ov_item5_header}
    ov_item5_content={ov_item5_content}
    ov_item6_header={ov_item6_header}
    ov_item6_content={ov_item6_content}
    ov_item1_icon={ov_item1_icon}
    ov_item2_icon={ov_item2_icon}
    ov_item3_icon={ov_item3_icon}
    ov_item4_icon={ov_item4_icon}
    ov_item5_icon={ov_item5_icon}
    ov_item6_icon={ov_item6_icon}/>
    <Features 
    ft_header={ft_header}
    ft_tab1_label={ft_tab1_label}
    ft_tab2_label={ft_tab2_label}
    ft_tab3_label={ft_tab3_label}
    ft_tab1_item1_header={ft_tab1_item1_header}
    ft_tab1_item1_content={ft_tab1_item1_content}
    ft_tab1_item2_header={ft_tab1_item2_header}
    ft_tab1_item2_content={ft_tab1_item2_content}
    ft_tab1_media={ft_tab1_media}
    ft_tab2_item1_header={ft_tab2_item1_header}
    ft_tab2_item1_content={ft_tab2_item1_content}
    ft_tab2_item2_header={ft_tab2_item2_header}
    ft_tab2_item2_content={ft_tab2_item2_content}
    ft_tab2_media={ft_tab2_media}
    ft_tab3_item1_header={ft_tab3_item1_header}
    ft_tab3_item1_content={ft_tab3_item1_content}
    ft_tab3_item2_header={ft_tab3_item2_header}
    ft_tab3_item2_content={ft_tab3_item2_content}
    ft_tab3_media={ft_tab3_media}
    ft_tab1_media_phone={ft_tab1_media_phone}
    ft_tab2_media_phone={ft_tab2_media_phone}
    ft_tab3_media_phone={ft_tab3_media_phone}
    ov_subheader={ov3_subheader}
    ov_item1_header={ov3_item1_header}
    ov_item1_content={ov3_item1_content}
    ov_item1_icon={ov3_item1_icon}
    ov_item2_header={ov3_item2_header}
    ov_item2_content={ov3_item2_content}
    ov_item2_icon={ov3_item2_icon}
    ov_item3_header={ov3_item3_header}
    ov_item3_content={ov3_item3_content}
    ov_item3_icon={ov3_item3_icon} />
  <Testimonial 
    tm_header={tm_header} 
    tm_item1_content={tm_item1_content} 
    tm_item1_position={tm_item1_position} 
    tm_item1_name={tm_item1_name} 
    tm_item1_image={tm_item1_image}
    tm_item3_content={tm_item3_content} 
    tm_item3_position={tm_item3_position} 
    tm_item3_name={tm_item3_name} 
    tm_item3_image={tm_item3_image}
    tm_item1_link={tm_item1_link}
    tm_item2_link={tm_item3_link} />
  <Cta />
  <Footer />
</BaseLayout>
