---
// INPUT CONTENT FOR HERO SECTION HERE

const title = "DeSci Nodes";
const slogan = "Manuscripts, data, and code \u2014 all in one place";

// INPUT CONTENT FOR OVERVIEW SECTION HERE

const ov_header = "Bring your research to life";
const ov_subheader = "Because your work is more than just a PDF";

// Overview Items

const ov_item1_header = "Bring everything together";
const ov_item1_content =
  "Code, data, and manuscripts \u2014 all in one place & richly interconnected. No more juggling between repositories, preprint servers, and Github.";
const ov_item1_icon = "layers-outline";

const ov_item2_header = "Store 100 GB for free";
const ov_item2_content = `Add a powerful data drive to your research. Publications with data get on average <a href="https://doi.org/10.1371/journal.pone.0230416" class="text-dark-11 font-semibold hover:text-dark-12" target="_blank" rel="noopener noreferrer">25% more citations</a>.`;
const ov_item2_icon = "arrow-redo-outline";

const ov_item3_header = "Keep track of changes";
const ov_item3_content =
  "From registering your hypothesis to uploading a dataset or complete manuscript, you can track all versions and elements from the moment you start using Nodes.";
const ov_item3_icon = "code-slash-outline";

const ov_item4_header = "Own your research";
const ov_item4_content =
  "You decide when to share your research with the world. Once published, your work is shared on a peer-to-peer network. No platform boundaries, vendor-lock in, or data silos. ";
const ov_item4_icon = "key-outline";

const ov_item5_header = "Make reproducibility *look* simple";
const ov_item5_content =
  "Preserve your code and data to keep track of how you obtained your findings over time. Make it easy for yourself and others to reproduce your work. Show them how it's done.";
const ov_item5_icon = "play-forward-outline";

const ov_item6_header = "Lead Open Science forward";
const ov_item6_content =
  "Publish all the artifacts of your research, enable others to reproduce, re-use, and credit every component of your work. Let others import your artifacts with a single line of code.";
const ov_item6_icon = "lock-open-outline";

// INPUT CONTENT FOR FEATURES SECTION HERE

const ft_header = "A new unit of knowledge for the next era of science";

// First Tab

const ft_tab1_label = "Combine";
const ft_tab1_item1_header = "A cutting-edge data drive for your publication";
const ft_tab1_item1_content =
  "Nodes are containers for research artefacts such as manuscripts, code, data, and anything you can think of. You can upload everything in one place, share privately with your lab and co-authors before publishing openly to the world. Nodes preserves content integrity with cryptographic hashes and stores published data on a distributed network.";
const ft_tab1_item2_header = "";
const ft_tab1_item2_content = "";
const ft_tab1_media = "combine.mp4";
const ft_tab1_media_phone = "combine.png";

// Second Tab

const ft_tab2_label = "Connect";
const ft_tab2_item1_header =
  "Connect your research artefacts in a seamless and secure way";
const ft_tab2_item1_content =
  "Nodes make reproducible research easier. The nodes application interfaces with a protocol that uses content-addressed storage to create unique and persistent identifiers for every single resource in your Drive. Unlike URL-based web resources, you can create hyperlinks that will stand the test of time. This means you can highlight your manuscripts and connect results with code and data. No more dead links or content drift.";
const ft_tab2_item2_header = "";
const ft_tab2_item2_content = "";
const ft_tab2_media = "connect.mp4";
const ft_tab2_media_phone = "connect.png";

// Third Tab

const ft_tab3_label = "Showcase";
const ft_tab3_item1_header = "Your research is more than a manuscript";
const ft_tab3_item1_content =
  "With Nodes, you can seamlessly unite text, data, code, and other artefacts all in one place. It's a workflow platform that transforms into an open repository, and vice-versa. Create impressive publications that showcase the depth and intricacies of your work. Let others import your artifacts with a single line of code.";
const ft_tab3_item2_header = "";
const ft_tab3_item2_content = "";
const ft_tab3_media = "showcase.mp4";
const ft_tab3_media_phone = "showcase.png";

// INPUT CONTENT FOR TESTIMONIALS HERE

const tm_header = "Trusted by researchers";

const tm_item1_name = "Marco Giometto & Atharva Sate";
const tm_item1_position = "Civil Engineering at Columbia";
const tm_item1_content =
  "Atharva and Marco created a fully reproducible, data-heavy publication containing over 18 terabytes of open data. Without Nodes, this breakthrough dataset in fluid dynamics would have remained in his lab's internal servers. Nodes made it possible to easily import parts of this dataset with a single line of python, or send a containerised compute job directly to where the data lives.";
const tm_item1_image = "marco-pfp.jpg";
const tm_item1_link = "https://nodes.desci.com/dpid/76";

// const tm_item2_name = "Alkes Price";
// const tm_item2_position = "Geneticist at Harvard";
// const tm_item2_content =
//   "Alkes and his lab were sharing terabytes of genetic data with their community. The popularity of the dataset caused egress bills to skyrocket, limiting their ability to share it for free. This data is now available to anyone via Nodes, enabling edge compute without egress fees. Other scientists can now re-use this data without the need to move it around the globe.";
// const tm_item2_image = "alkes-pfp.jpeg";
// const tm_item2_link = "https://nodes.desci.com/dpid/75";

const tm_item3_name = "Megan Ansdell";
const tm_item3_position = "Astrophysicist at NASA";
const tm_item3_content =
  "Megan turned her PhD thesis into a Node, primarily to share her code with the astrophysics community. During her thesis, she took a lot of care to make her work reproducible. With Nodes she finally has a medium to showcase this effort and share the outcome with everyone. Nodes allows her to create interactive links between her paper, data, and code.";
const tm_item3_image = "megan-pfp.jpeg";
const tm_item3_link = "https://nodes.desci.com/dpid/46";

// INPUT SECTION END

import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/landing/HeroResearchers.astro";
import Overview from "../components/landing/Overview6.astro";
import Features from "../components/landing/Features.astro";
import Testimonial from "../components/global/Testimonial.astro";
import Cta from "../components/global/Cta.astro";
import Footer from "../components/global/Footer.astro";
import { AstroSeo } from "@astrolib/seo";
import Announcement from "../components/global/Announcement.astro";
---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="DeSci Labs"
  description="DeSci enables researchers and academic organizations to securely share and collaborate using decentralized science technology."
  canonical="https://desci.com"
  openGraph={{
    url: "https://desci.com",
    title: "DeSci Labs",
    description: "Building the future of science",
    images: [
      {
        url: "preview.png",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/png",
      },
    ],
    site_name: "DeSci Nodes for Researchers",
  }}
  twitter={{
    handle: "@DeSciLabs",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>

<BaseLayout>
  <script>
    setTimeout(() => {
      const tabButtons = document.querySelectorAll(".tab-button");
      const tabPanes = document.querySelectorAll(".tab-pane");

      tabButtons.forEach((button) => {
        button.addEventListener("click", function () {
          tabButtons.forEach((btn) => btn.classList.remove("active"));
          this.classList.add("active");

          tabPanes.forEach((pane) => pane.classList.remove("active"));
          const selectedTab = document.getElementById(
            this.getAttribute("data-tab")
          );
          selectedTab.classList.add("active");
        });
      });
    }, 0);
  </script>
  <Hero slogan={slogan} title={title} />
  <Announcement />
  <Overview
    ov_header={ov_header}
    ov_subheader={ov_subheader}
    ov_item1_header={ov_item1_header}
    ov_item1_content={ov_item1_content}
    ov_item2_header={ov_item2_header}
    ov_item2_content={ov_item2_content}
    ov_item3_header={ov_item3_header}
    ov_item3_content={ov_item3_content}
    ov_item4_header={ov_item4_header}
    ov_item4_content={ov_item4_content}
    ov_item5_header={ov_item5_header}
    ov_item5_content={ov_item5_content}
    ov_item6_header={ov_item6_header}
    ov_item6_content={ov_item6_content}
    ov_item1_icon={ov_item1_icon}
    ov_item2_icon={ov_item2_icon}
    ov_item3_icon={ov_item3_icon}
    ov_item4_icon={ov_item4_icon}
    ov_item5_icon={ov_item5_icon}
    ov_item6_icon={ov_item6_icon}
  />
  <Features
    ft_header={ft_header}
    ft_tab1_label={ft_tab1_label}
    ft_tab2_label={ft_tab2_label}
    ft_tab3_label={ft_tab3_label}
    ft_tab1_item1_header={ft_tab1_item1_header}
    ft_tab1_item1_content={ft_tab1_item1_content}
    ft_tab1_item2_header={ft_tab1_item2_header}
    ft_tab1_item2_content={ft_tab1_item2_content}
    ft_tab1_media={ft_tab1_media}
    ft_tab2_item1_header={ft_tab2_item1_header}
    ft_tab2_item1_content={ft_tab2_item1_content}
    ft_tab2_item2_header={ft_tab2_item2_header}
    ft_tab2_item2_content={ft_tab2_item2_content}
    ft_tab2_media={ft_tab2_media}
    ft_tab3_item1_header={ft_tab3_item1_header}
    ft_tab3_item1_content={ft_tab3_item1_content}
    ft_tab3_item2_header={ft_tab3_item2_header}
    ft_tab3_item2_content={ft_tab3_item2_content}
    ft_tab3_media={ft_tab3_media}
    ft_tab1_media_phone={ft_tab1_media_phone}
    ft_tab2_media_phone={ft_tab2_media_phone}
    ft_tab3_media_phone={ft_tab3_media_phone}
  />
  <Testimonial
    tm_header={tm_header}
    tm_item1_content={tm_item1_content}
    tm_item1_position={tm_item1_position}
    tm_item1_name={tm_item1_name}
    tm_item1_image={tm_item1_image}
    tm_item3_content={tm_item3_content}
    tm_item3_position={tm_item3_position}
    tm_item3_name={tm_item3_name}
    tm_item3_image={tm_item3_image}
    tm_item1_link={tm_item1_link}
    tm_item3_link={tm_item3_link}
  />
  <Cta />
  <Footer />
</BaseLayout>
