---
const { tm_header } = Astro.props;
const { tm_item1_name } = Astro.props;
const { tm_item1_position } = Astro.props;
const { tm_item1_content } = Astro.props;
const { tm_item2_name } = Astro.props;
const { tm_item2_position } = Astro.props;
const { tm_item2_content } = Astro.props;
const { tm_item3_name } = Astro.props;
const { tm_item3_position } = Astro.props;
const { tm_item3_content } = Astro.props;
const { tm_item3_image } = Astro.props;
const { tm_item2_image } = Astro.props;
const { tm_item1_image } = Astro.props;
const { tm_item1_link } = Astro.props;
const { tm_item2_link } = Astro.props;
const { tm_item3_link } = Astro.props;


---


<section class="">
    <div
      class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
      <div class="max-w-2xl mx-auto md:text-center">
        <h2 class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
          {tm_header}
        </h2>
      </div>
      <ul
        role="list"
        class="grid max-w-2xl grid-cols-1 gap-6 mx-auto mt-16 sm:gap-8 lg:mt-20 lg:max-w-none lg:grid-cols-2">
        <li>
          <figure class="relative h-full flex flex-col justify-between p-6 bg-dark-3 rounded-3xl">
            <blockquote class="relative">
              <p class="text-base text-dark-11">
                {tm_item1_content}
              </p>
            </blockquote>
            <div>
              <figcaption
                class="relative flex justify-between gap-6 pt-6 mt-6 border-t border-dark-3 h-24">
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-dark-12 font-display">
                    {tm_item1_name}
                  </div>
                  <div class="mt-1 text-sm text-dark-11">
                    {tm_item1_position}
                  </div>
                </div>
                <div class="profile-image flex-shrink-0">
                  <img
                      alt=""
                      src={tm_item1_image}
                      decoding="async"
                      data-nimg="future"
                      loading="lazy"
                      style="color: transparent"
                    />
                </div>
              </figcaption>
              <a
                class="button-primary-black mt-6 md:w-1/2 lg:w-full"
                href={tm_item1_link}
                target="_blank">
                View Node
              </a>
            </div>
          </figure>
        </li>
        <!-- <li>
          <figure class="relative h-full flex flex-col justify-between p-6 bg-dark-3 rounded-3xl">
            <blockquote class="relative">
              <p class="text-base text-dark-11">
                {tm_item2_content}
              </p>
            </blockquote>
            <div>
              <figcaption
                class="relative flex justify-between gap-6 pt-6 mt-6 border-t border-dark-3 h-24">
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-dark-12 font-display">
                    {tm_item2_name}
                  </div>
                  <div class="mt-1 text-sm text-dark-11">
                    {tm_item2_position}
                  </div>
                </div>
                <div class="profile-image flex-shrink-0">
                  <img
                      alt=""
                      src={tm_item2_image}
                      decoding="async"
                      data-nimg="future"
                      loading="lazy"
                      style="color: transparent"
                  />
              </div>
              </figcaption>
              <a
                class="button-primary-black mt-6 md:w-1/2 lg:w-full"
                href={tm_item2_link}
                target="_blank">
                View Node
              </a>
            </div>
          </figure>
        </li> -->
        <li>
          <figure class="relative h-full flex flex-col justify-between p-6 bg-dark-3 rounded-3xl">
            <blockquote class="relative">
              <p class="text-base text-dark-11">
                {tm_item3_content}
              </p>
            </blockquote>
            <div>
              <figcaption
                class="relative flex justify-between gap-6 pt-6 mt-6 border-t border-dark-3 h-24">
                <div>
                  <div
                    class="text-lg font-semibold leading-6 text-dark-12 font-display">
                    {tm_item3_name}
                  </div>
                  <div class="mt-1 text-sm text-dark-11">
                    {tm_item3_position}
                  </div>
                </div>
                <div class="profile-image flex-shrink-0">
                  <img
                      alt=""
                      src={tm_item3_image}
                      decoding="async"
                      data-nimg="future"
                      loading="lazy"
                      style="color: transparent"
                  />
              </div>
              
              </figcaption>
              <a
                class="button-primary-black mt-6 md:w-1/2 lg:w-full"
                href={tm_item3_link}
                target="_blank">
                View Node
              </a>
            </div>
          </figure>
        </li>
      </ul>
    </div>
  </section>